:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
body {
  padding-top: 16px;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafcfe;
}
.header {
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.container {
  max-width: 840px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.item,
.item-reverse {
  background: white;
  color: #444;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.12);
  padding: 12px 0 12px 16px;
  margin-bottom: 16px;
  overflow: hidden;
}
.media-body {
  padding-right: 12px;
  flex: 1;
}
.item-text {
  border-left: 5px solid var(--teal);
}
.blockquote {
  border-left: 5px solid var(--blue);
  padding-right: 12px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.media {
  border-left: 5px solid var(--red);
  display: flex;
  align-items: flex-start;
}
.wiki {
  border-left: 5px solid var(--teal);
}
.joke {
  border-left: 5px solid var(--yellow);
  padding-right: 12px;
}

/* BOOTSTRAP STYLES */

* {
  box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: var(--blue);
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.text-muted {
  color: #6c757d !important;
}
.small, small {
  font-size: 80%;
  font-weight: 400;
}
.mb-0 {
  margin-bottom: 0;
}
.mr-3 {
  margin-right: 1rem;
}
blockquote {
  margin: 0 0 1rem;
}
.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "\2014\00A0";
}
.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

/* ATOM STYLE */

.atomContain {
  height: 200px;
  width: 200px;
  position: relative;
}
.atomCenter {
  position: absolute;
  height: 50px;
  width: 50px;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  border-radius: 25px;
  background: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 201;
  display: flex;
  align-items: center;
  justify-content: center;
}
.atomShell {
  position: absolute;
  background: white;
  border: 3px solid lightgray;
  border-radius: 50%;
}
.atomElectron {
  position: absolute;
  background: rgba(0,0,0,0.8);
  height: 6px;
  width: 6px;
  border-radius: 3px;
}

/* LOADING SYMBOL */

#loading {
  width: 100%;
  padding: 24px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #6c757d;
}

.vix {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 24px 24px 36px 0;
}
.spine {
  height: 50px;
  width: 4px;
  background: #345;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.topJaw {
  position: absolute;
  height: 4px;
  width: 35px;
  transform: rotate(-25deg);
  background: #345;
  left: 27px;
  top: 25px;
  animation: topChomp 500ms ease-in-out infinite alternate;
  transform-origin: bottom left;
  z-index: 1;
}
.eye1 {
  height: 6px;
  width: 6px;
  border-radius: 4px;
  background: #345;
  position: absolute;
  top: -7px;
  left: 0;
}
.eye2 {
  height: 6px;
  width: 6px;
  border-radius: 4px;
  background: #345;
  position: absolute;
  top: -7px;
  left: 7px;
}
.ttooth1 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #345;
  position: absolute;
  left: 15px;
}
.ttooth2 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #345;
  position: absolute;
  left: 25px;
}
.bottomJaw {
  position: absolute;
  height: 4px;
  width: 35px;
  transform: rotate(25deg);
  background: #345;
  left: 27px;
  top: 28px;
  animation: bottomChomp 500ms ease-in-out infinite alternate;
  transform-origin: top left;
  z-index: 1;
}
.btooth1 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #345;
  position: absolute;
  left: 10px;
  bottom: 0;
}
.btooth2 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #345;
  position: absolute;
  left: 20px;
  bottom: 0;
}
.leftArm {
  height: 20px;
  width: 4px;
  background: #345;
  position: absolute;
  bottom: 30px;
  left: 18px;
  transform: rotate(-45deg);
}
.rightArm {
  height: 20px;
  width: 4px;
  background: #345;
  position: absolute;
  bottom: 30px;
  left: 32px;
  transform: rotate(45deg);
}
.leftLeg {
  height: 30px;
  width: 4px;
  background: #345;
  position: absolute;
  bottom: 0;
  left: 17px;
  transform: rotate(35deg);
}
.rightLeg {
  height: 30px;
  width: 4px;
  background: #345;
  position: absolute;
  bottom: 0;
  left: 33px;
  transform: rotate(-35deg);
}
.ball {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: red;
  position: absolute;
  top: 24px;
  opacity: 0;
}
.ball1 {
  animation: ballFeed 2s ease-in-out infinite;
}
.ball2 {
  animation: ballFeed 2s ease-in-out 0.5s infinite;
}
.ball3 {
  animation: ballFeed 2s ease-in-out 1s infinite;
}
.ball4 {
  animation: ballFeed 2s ease-in-out 1.5s infinite;
}

@keyframes topChomp {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes bottomChomp {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes ballFeed {
  0% {
    opacity: 0;
    right: -20px;
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .item {
    flex-direction: column;
  }
  .item-reverse {
    flex-direction: column-reverse;
  }
  .item-image {
    margin-bottom: 1rem;
  }
  .img {
    max-width: 100%;
  }
}

.image-container {
  margin-bottom: 10px;
}
